* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.background-up {
    width: 100%;
    height: 150px;
    background-color: #009688;
}

.background-tot {
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #d9dbd6;
}

.boolzapp {
    position: relative;
    top: -120px;
    width: 75%;
    height: 95vh;
    background-color: white;
    margin: 0 auto;
    display: flex;
}

/* contatti */
.contact {
    width: 30%;
    height: 100%;
    background-color: #fafafa;
}


/* Profilo utente */
.avatar {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #b1b1b1;
}

.avatar img {
    width: 50px;
    border-radius: 50%;
    padding-right: 5px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 5px;
}

.icons-user-io {
    display: flex;
    align-items: center;
}

.icon-io {
    padding-right: 8px;
    color: #b1b1b1;
    cursor: pointer;
}
/* /Profilo utente */



/* Nuove notifiche e messaggi */
.mini-text-bell {
    font-size: 0.7em;
    color: #507586;
    text-decoration: underline;
}

.avatar-bell {
    width: 100%;
    height: 8%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.fa-bell-slash {
    width: 2.2em;
    height: 2.2em;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
    color: #8edafc;
}

.user-bell {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5px;
}
/* /Nuove notifiche e messaggi */


/* Barra di ricerca contatti */
.search {
    padding: 3px;
    background-color: #ffffff;
    margin: 5px 2px;
}

#new-searc {
    width: 85%;
    border-style: none;
    padding: 2px;
}

.fa-search {
    padding: 0 10px;
    color: #b6b9bb;
    cursor: pointer;
}
/* /Barra di ricerca contatti */


/* I miei contatti */
.my-contact {
    margin-right: 2px;
}

.date-text {
    font-size: 0.7em;
    color: #c3c5c7;
}

.mini-text {
    font-size: 0.7em;
    color: #c3c5c7;
}

.avatar-contact {
    width: 100%;
    height: 8%;
    padding: 5px 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.avatar-contact img {
    width: 50px;
    border-radius: 50%;
    padding-right: 5px;
}

.avatar-contact:hover {
    background-color: #e9ebeb;
}

.avatar-contact.active {
    background-color: #e9ebeb;
}
/* /I miei contatti */

/* /contatti */


/* messaggi */
.chat {
    width: 70%;
    height: 100%;
}


/* Utente con cui sto messaggindo */
.avatar-message {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-message img {
    width: 50px;
    border-radius: 50%;
    padding-right: 5px;
}

.user-message {
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 5px;
}

.icon-message {
    padding-right: 8px;
    color: #b1b1b1;
    cursor: pointer;
}
/* /Utente con cui sto messaggindo */


/* Spazio messaggi */
.screen-messages {
    width: 100%;
    height: calc(100% - 100px);
    background-color: white;
}

.screen-messages-tot {
    width: 99%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.central-messages {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.send {
    background-color: #ffffff;
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    align-self: flex-start;
}

.text-message, .date-message {
    padding: 0 2px;
}

.text-message {
    font-size: 0.7em;
}

.date-message {
    font-size: 0.5em;
    color: #c3c5c7;
    display: flex;
    justify-content: flex-end;
}

.received {
    background-color: #d5f9ba;
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    align-self: flex-end;
}

.message-right-bottom {
    display: flex;
    justify-content: flex-end;
}

.right {
    display: flex;
    justify-content: flex-end;
}
/* /Spazio messaggi */


/* Scrivi messaggi */
.write-message {
    width: 100%;
    height: 50px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#write {
    width: 80%;
    border-style: none;
    padding: 5px 5px;
}

.fa-smile, .fa-microphone {
    cursor: pointer;
}
/* /Scrivi messaggi */

/* messaggi */