<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    <div class="background">
        <div class="background-up"></div>
        <div class="background-tot">
            <div id="app" class="boolzapp">
            
                <div class="contact">

                    <!-- Profilo utente-->
                    <div class="avatar">
                        <div class="user">
                            <img src="img/avatar_7.jpg" alt="">
                            <h5>Guz</h5>
                        </div>
                        <div class="icons-user-io">
                            <i class="fas fa-circle-notch icon-io"></i>
                            <i class="fas fa-comment-alt icon-io"></i>
                            <i class="fas fa-ellipsis-v icon-io"></i>
                        </div>
                    </div>
                    <!-- /Profilo utente-->


                    <!-- Nuove notifiche e messaggi -->
                    <div class="avatar-bell">
                        <div class="user-bell">
                            <i class="fas fa-bell-slash"></i>
                            <div class="user-text">
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <p class="mini-text-bell">attiva notifiche desktop</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Nuove notifiche e messaggi -->


                    <!-- Barra di ricerca contatti -->
                    <div class="search">
                        <i class="fas fa-search"></i>
                        <input id="new-searc" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- /Barra di ricerca contatti -->


                    <!-- I miei contatti -->
                    <div class="my-contact">
                        <div @click="changeUser(index)" v-for="(contact, index) in contacts" class="avatar-contact" :class="(active == index) ? 'active' : ''">
                            <div class="user">
                                <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                                <div class="user-text">
                                    <h5>{{ contact.name }}</h5>
                                    <p class="mini-text">{{ contact.messages[1].text }}</p>
                                </div>
                            </div>
                            <div class="date">
                                <p class="date-text">{{ contact.messages[1].date }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- /I miei contatti -->
                </div>


                <div class="chat">

                    <!-- Utente con cui sto messaggindo -->
                    <div class="avatar-message">
                        <div class="user-message">
                            <img :src="`img/avatar${contacts[active].avatar}.jpg`" :alt="contacts[active].name" alt="">
                            <div class="user-text">
                                <h5>{{ contacts[active].name }}</h5>
                                <p class="mini-text">Ultimo accesso oggi alle 28/03/2020 16:15:22</p>
                            </div>
                        </div>
                        <div class="icons-user-message">
                            <i class="fas fa-search icon-message"></i>
                            <i class="fas fa-paperclip icon-message"></i>
                            <i class="fas fa-ellipsis-v icon-message"></i>
                        </div>
                    </div>
                    <!-- /Utente con cui sto messaggindo -->


                    <!-- Spazio messaggi -->
                    <div class="screen-messages">
                        <div class="screen-messages-tot">
                            <div class="central-messages">
                                <div class="message" v-for="message in contacts[active].messages" :class="message.status == 'sent' ? 'send' : 'received'">
                                    <p class="text-message">{{ message.text }}</p>
                                    <p class="date-message">{{ message.date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Spazio messaggi -->


                    <!-- Scrivi messaggi -->
                    <div class="write-message">
                        <i class="far fa-smile"></i>
                        <input id="write" type="text" placeholder="Scrivi messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                     <!-- /Scrivi messaggi -->
                </div>

            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>